<head>
  <style>
   span {
       margin:5.5 auto;
   }
   .tax_del, .godown_del{
       color:#000000;
   }
  </style>
</head>
<body>

  <div class="container-fluid " style="padding:1 !important; margin:0 !important;" >

    <div class=' addprod panel'>
      <input value="{{vatorgstflag}}" id="vatorgstflag" hidden>

      <div class="panel-body">
        <form id="addprodform">
          <div class="col-sm-6" >
	    {% if userrole|int != 3 %}
              <div class="row" id="serviceproductdiv">
	    {% else %}
		<div class="row" hidden id="serviceproductdiv">
	    {% endif %}
	    <div class="form-group col-sm-11 pd">

	      <label for="additem">{% trans %}Item Type{% endtrans %} :</label><label for="additem" style="color:red;font-size: 120%;">*</label>
	      <select name="gsflag" class="form-control input-sm" id="additem">
                <option value="7">Product</option>
                <option value="19">Service</option>
	      </select>

	    </div>
            </div>
            <div class="row productclass">

	      {% if not gkresult["category"] %}

		<div class="form-group col-sm-11" >
		  <small id="txtareahelp" class="form-text text-muted common">{% trans %}If you want to put this product under a category/sub-category, you must create a category first.{% endtrans %}</small>
		  </div>
		{% else %}
		  <input value="1" id="catg" hidden>
		  <div class="form-group col-sm-11 productclass" id="categorydiv">
                    <label class="" for="addcatselect">{% trans %}Select Category{% endtrans %} :</label>
                    <select class = "form-control input-sm"  name = "catselect" id="addcatselect" >
                      <option value="" selected >{% trans %}None{% endtrans %}</option>
                      {% for cat in gkresult["category"] %}
			<option value="{{cat['categorycode']}}">{{cat["categoryname"]}}({{cat["subcount"]}})</option>
                      {% endfor %}
                    </select>
		    <small id="txtareahelp" class="form-text text-muted productclass">{% trans %}If you want to put this product under a category/sub-category, you must create/select a category first.{% endtrans %}</small>
		  </div>
		{% endif %}
              </div>


              <div class="row">
              <div class="form-group col-sm-11 pd ">
                <label for="addproddesc" class="common" id="proservlabel"></label><label for="addproddesc" class="common" style="color:red;font-size: 120%;">*</label>
                <input type='text' class="form-control input-sm common" name="addproddesc"  id="addproddesc" placeholder="Alphanumeric">
              </div>
	      {%if vatorgstflag=='7' or vatorgstflag=='29'%}
		<div class="form-group col-sm-11 pd ">
                  <label for="addproddesc" class="common" id="gscodelabel" >{% trans %}HSN code{% endtrans %} :</label><label for="gscode" class="common" ></label>
		  <label for="hsnno" style="color:red;font size: 120%;">*</label>
                  <input type='text' class="form-control input-sm common numtype hsn" name="gscode"  id="hsnno" placeholder="Non-zero">
		</div>
	      {% endif %}
            </div>

            <div class="row productclass">
              <div class="form-group col-sm-11 pds olduom">
                <label for="uom" class="">{% trans %}Unit of Measurement{% endtrans %} :</label><label for="uom" style="color:red;font-size: 120%;">*</label>
                <select class = "form-control input-sm sel productclass"  name = "uom" id="adduom" aria-describedby="txtareahelp">
                  <option value="" disabled selected hidden>{% trans %}Select Unit of Measurement{% endtrans %}</option>
                  {% for uom in gkresult["uom"] %}
                    <option value="{{uom['uomid']}}">{{uom["unitname"]}}</option>
                  {% endfor %}
                </select>

                <small id="txtareahelp" class="form-text text-muted">{% trans %}Press Space Bar to add a new Unit of Measurement.{% endtrans %}</small>
              </div>
              <div class="form-group col-sm-11 pds newuom" hidden>
                <label for="newuom" class="productclass"  style="font-size:13px">{% trans %}New Unit of Measurement{% endtrans %} :</label>
                <input type='text' class="form-control input-sm productclass" name="newuom"  id="newuom" placeholder="Name of the new unit" aria-describedby="textareahelp">
                <small id="textareahelp" class="form-text text-muted">{% trans %}Press 'Enter' key to save and 'Esc' key to cancel.{% endtrans %}</small>
              </div>
            </div>

	  </div>
          <div class="col-sm-6 common" id="rightdiv">
	    <div class="row" style="margin-bottom: 2%;">
	      <i class="fa fa-question-circle pull-right" style="font-size:16px;color:black;"data-toggle="modal" data-target="#CatModal"></i>
	    </div>
	    <div class="row productclass" id="specdiv" hidden>
            </div>

	    {% if userrole|int != 3 %}
            <div class="row">
              <div class="form-group taxclass">
		<div class="alert alert-danger" id="tax-name-blank-alert"  aria-live="rude" role="alert" hidden>

                  {% trans %}Please Specify Tax Name.{% endtrans %}
                </div>
		<div class="alert alert-danger" id="tax-rate-blank-alert"  aria-live="rude" role="alert" hidden>

                  {% trans %}Please Specify Tax Rate.{% endtrans %}
                </div>
                <div class="panel taxclass">
		  <table id="product_tax_table" class="table table-condensed table-bordered fixed-table common">
                    <thead class="bg-primary input-sm">
                      <tr>
			<th class="col-xs-4 text-center">{% trans %}Tax Name{% endtrans %}</th>
			<th class="col-xs-4 text-center">{% trans %}State{% endtrans %}</th>
			<th class="col-xs-2 text-center">{% trans %}Rate %{% endtrans %}</th>
			<th class="col-xs-1"></th>
			<th class="col-xs-1"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
			<td class="col-xs-4">
			  <select class="form-control input-sm tax_name product_new_name">
			    <option value="" hidden disabled selected>Select Tax</option>
			    {%if vatorgstflag=='7' or vatorgstflag=='29' %}
                              <option value="IGST">GST</option>
                              <option value="CESS">CESS</option>
                            {%endif%}
                            <option value="VAT">VAT</option>
                              <option value="CVAT">CVAT</option>
			  </select>
			</td>
			<td class="col-xs-4">
			  <select class="form-control input-sm tax_state product_new_state" >
			    <option value="" hidden disabled selected>Select State</option>
                            {% for state in states %}
                              {% for key, value in state.items() %}
                                <option value="{{value}}" stateid="{{key}}">{{value}}</option>
                              {% endfor %}
                            {% endfor %}
                          </select>
                        </td>
                        <td class="col-xs-2">
			  <input class="form-control input-sm tax_rate text-right product_new_rate numtype"  value="0.00">
			</td>
			<td class="col-xs-1">
			  <div style="text-align: center;">
			    <span class="glyphicon glyphicon glyphicon-plus addbtn"></span>
			  </div>
			</td>
			<td class="col-xs-1">
			  <div style="text-align:center;">
			    <a href="#" class="tax_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
			  </div>
			</td>
                      </tr>
                    </tbody>
		  </table>
		</div>
                <small id="taxhelp4" class="form-text text-muted common">Press 'Insert' key from anywhere on the screen to save changes.</small>
                <div class="collapse" id="moresmall">
                  <small id="taxhelp2" class="form-text text-muted ">Press 'Ctrl + >' to move forward or 'Ctrl + <' to move backward within a row in a table.</small><br>
                  <small id="taxhelp" class="form-text text-muted">Press 'Shift + <' to move backward within a Column in a table.</small>
		  {% if not godown %}
                    <small  class="form-text text-muted productclass">When on Tax Rate or Tax Name, Press 'Esc' key to shift focus to Opening Stock and from Opening Stock to 'Save' button.</small>
                  {% else %}
                    <small  class="form-text text-muted " id="godownmsg">When on Tax Rate or Tax Name, Press 'Esc' key to shift focus to Opening Stock and from Opening Stock to 'Save' button.</small>
                  {% endif %}
		  <small  class="form-text text-muted serviceclass"> When on Tax Rate or Tax Name, Press 'Esc' key to shift focus to Opening Stock and from Opening Stock to 'Save' button.</small>
                </div>
                <a data-toggle="collapse" id="smalllink" href="#moresmall">See more.<span class="glyphicon glyphicon-triangle-bottom"></span></a>
              </div>
	      <!--
		   <div class="panel col-xs-8 igsttax nopadding" hidden>
		   <table id="igst_tax_table" class="table table-condensed table-bordered">
                   <thead class="bg-primary input-sm">
		   <tr>
		   <th class="col-xs-6 text-center">{% trans %}Tax Name{% endtrans %}</th>

		   <th class="col-xs-6 text-center">{% trans %}Rate %{% endtrans %}</th>

		   </tr>
                   </thead>
		   <tbody>
		   <tr>
		   <td class="col-xs-6 text-center" style = "vertical-align:middle; font-weight: normal; font-size:90%;" >
		   {% trans %}IGST{% endtrans %}
		   </td>
		   <td class="col-xs-6">
		   <input class="form-control input-sm tax_rate text-right product_new_rate numtype" id ="igstrate"  placeholder="Rate" value="0.00">
		   </td>
		   </tr>
		   </tbody>

		   </table>
		   </div>
		 -->

            </div>
	    {% endif %}
            <div class="row noinventory ">
              <div class="row productclass">
		{% if not godown %}
		  <div id="newgodownadded" hidden>
                    <div class="form-group">
                      <input type="checkbox" name="godownflag" id="godownflag" value=0>
                </input>
                <input type="text" id="godownpresence" value="0" hidden>
                <label class="" for="godownflag">{% trans %}Godown Wise Opening Stock{% endtrans %}</label>
		    </div>
                    <div  id="openingstockdiv" class="form-group" hidden>
		      <div class="alert alert-danger" id="godown-blank-alert"  aria-live="rude" role="alert" hidden>
			{% trans %}Please select a godown.{% endtrans %}
		      </div>
                      <div class="panel">
			<table id="godown_ob_table" class="table table-condensed table-bordered fixed-table">
			  <thead class="bg-primary input-sm">
                            <tr>
                              <th class="col-xs-7 text-center">{% trans %}Godown{% endtrans %}</th>
                              <th class="col-xs-3 text-center">{% trans %}Opening Stock{% endtrans %}</th>
                              <th class="col-xs-1"></th>
			      <th class="col-xs-1"></th>
                            </tr>
			  </thead>
			  <tbody>
                            <tr>
                              <td class="col-xs-7">
				<select class="form-control input-sm godown_name">
				  <option value="" disabled hidden selected>Select Godown</option>
				  {% for record in godown %}
				    <option value="{{record["goid"]}}">{{record["goname"]}}({{record["goaddr"]}})</option>
				  {% endfor %}
				</select>
                              </td>
                              <td class="col-xs-3">
				<input class="form-control input-sm godown_ob text-right numtype" value="0.00">
                              </td>
                              <td class="col-xs-1">
				<div style="text-align: center;">
				  <span class="glyphicon glyphicon glyphicon-plus goaddbtn">
				</div>
                              </td>
			      <td class="col-xs-1">
				<div style="text-align:center;">
				  <a href="#" class="godown_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
				</div>
			      </td>
                            </tr>
			  </tbody>
			</table>
                      </div>
                    </div>
		  </div>
		  <div id="nogodown">
		    <div class="form-group pds col-sm-6">
                      <label for="openingstock" class="">{% trans %}Opening Stock{% endtrans %} :</label>
                      <div class="input-group"> 
			<input type='text' class="form-control text-right input-sm numtype" name="openingstock"  id="openingstock" value="0.00" aria-describedby="unitaddon">
			<span class="input-group-addon input-sm" id="unitaddon"></span>
                      </div>
		    </div>
		  </div>
		{% else %}
		  {% if userrole|int != 3 %}
		    <div class="form-group col-sm-12">
                      <input type="checkbox" name="godownflag" id="godownflag" value=0></input>
		      <input type="text" id="godownpresence" value="1" hidden="">
		      <label class="" for="godownflag">{% trans %}Godown Wise Opening Stock{% endtrans %}</label>
		    </div>
		    <div id="nogodown" class="form-group pds col-sm-6 noinventory">
		      <label for="openingstock" class="">{% trans %}Opening Stock{% endtrans %} :</label>
		      <div class="input-group">
			<input type='text' class="form-control text-right input-sm numtype" name="openingstock"  id="openingstock" value="0.00" aria-describedby="unitaddon">
			<span class="input-group-addon input-sm" id="unitaddon"></span>
		      </div>
		    </div>
		    <div  id="openingstockdiv" class="form-group col-sm-12" hidden>
		  {% else %}
		      <input type="hidden" name="godownflag" id="godownflag" value="1"></input>
		      <input type="text" id="godownpresence" value="1" hidden>
		      <div  id="openingstockdiv" class="form-group col-sm-12">
		  {% endif %}
		  <div class="alert alert-danger" id="godown-blank-alert"  aria-live="rude" role="alert" hidden>
		    {% trans %}Please select a godown.{% endtrans %}
		  </div>
		  <div class="panel">
                    <table id="godown_ob_table" class="table table-condensed table-bordered fixed-table">
		      <thead class="bg-primary input-sm">
			<tr>
			  <th class="col-xs-7 text-center">{% trans %}Godown{% endtrans %}</th>
			  <th class="col-xs-3 text-center">{% trans %}Opening Stock{% endtrans %}</th>
			  <th class="col-xs-1"></th>
			  <th class="col-xs-1"></th>
			</tr>
		      </thead>
		      <tbody>
			<tr>
			  <td class="col-xs-7">
                            <select class="form-control input-sm godown_name">
			      <option value="" disabled hidden selected>Select Godown</option>
			      {% for record in godown %}
				<option value="{{record["goid"]}}">{{record["goname"]}}({{record["goaddr"]}})</option>
			      {% endfor %}
                            </select>
			  </td>
			  <td class="col-xs-3">
                            <input class="form-control input-sm godown_ob text-right numtype" value="0.00">
			  </td>
			  <td class="col-xs-1">
			    <div style="text-align: center;">
			      <span class="glyphicon glyphicon glyphicon-plus goaddbtn">
			    </div>
			  </td>
			  <td class="col-xs-1">
			    <div style="text-align:center;">
			      <a href="#" class="godown_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
			    </div>
			  </td>
			  </tr>
			</tbody>
                      </table>
		    </div>

		  </div>
		{% endif %}
              </div>
            </div>
          </div>
      </div>
	</form>
	<div class="btn-group-sm panel-footer">
	  <div class="container-fluid">
            <button class="btn btn-success btn-sm common" id="apsubmit" name="submit" accesskey="s" data-toggle="tooltip" data-placement="top" title="Press Insert key anywhere on the screen to save" title="Please enter aleast two digit positive number" ><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans %}<u>S</u>ave{% endtrans %}</button>
            <button id="apreset" class="btn btn-warning btn-sm common" accesskey="e"><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}R<u>e</u>set{% endtrans %}</button>
	    {% if userrole|int != 3 %}
              <button id="addgodown" class="btn btn-info btn-sm productclass" accesskey="a" style="display:none"><i class="fa fa-plus" aria-hidden="true"></i> {% trans %}<u>A</u>dd Godown{% endtrans %}</button>
	      
	    {% endif %}
	    {%if userrole|int==3%}
	      <td> 	<button class="btn btn-primary btn-sm stockfield" type="button" id="prostock"  data-toggle="modal" data-target="#addstockmodal"><i class="fa fa-plus" aria-hidden="true"></i> {% trans %}Add Stock{% endtrans %}</button>
	      </td>
	    {% endif %}
		      </tr>
			</td>
	  </div> 
	  
        </div>
      </div>
    </div> 
    <div id="addgodownpopup">
    </div>

    <!--  for adding stock to existing Product-->
    
    <div id="addstockmodal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
	<div class="modal-content">
          <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-title">
	      {% trans %}Add stock to existing product{% endtrans %} :
            </div>
          </div>
          <div class="modal-body" id="gststkmodal" >
	  </div>
	  </div>
	</div>
      </div>

      <!-- #end of adding stock# -->

    <div id="CatModal"  tabindex="-1" class="modal fade " role="dialog"style="width:650px; margin-top: 150px; margin-left:300px;"  aria-hidden="true">
  <div class="modal-dialog bgcolor " >
    <div class="modal-content ">
      <div class="modal-header">
        {% trans %}<strong>Help!</strong>{% endtrans %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button> </div>
      <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

        <p>   <font color=" #566573"> {%trans%}
	  
	  This module is for creating Products and Services. </br>
	  First, we have to decide whether we wish to create a Product or a Service.</br>
	  For Product, we have to provide Product Name, HSN Code, Unit of Measurement and Tax. Note that you can choose a Unit of measurement previously created or create one. We can have products under categories. To use this feature create categories and then while creating products we can choose a category they will belong to. When you select a Category the screen immediately changes and presents you the specifications list where you can enter the details pertaning to the product.</br>
	  Products can have opening stock. If inventory is enabled for this organisation and we have godowns we can add them using a popup which can be activated by clicking Add Godown button. Godowns can also be added using the Create Godown Module.</br>
	  For Service, we must provide Service Name, ACS and Tax.


	  
		 {%endtrans %} </font>

        </p>
      </div>

      </div>
      </div>
      </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/addproduct.js')}}"></script>
</body>

