<!DOCTYPE HTML >
<html>
  <head>
    <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Find-Edit Voucher{% endtrans %}</title>
    <style media="screen">
     .shadow {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     .nopadding{
	 padding: 1 !important;
	 margin: 0 !important;
     }
     #vct{
	 border: none;
	 box-shadow: none;
   height: 25%;

     }
     table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
       display: block;
     }
     table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after  {
       content:' ';
       display: block;
       visibility: hidden;
       clear: both;
     }
     table.table-fixedheader>tbody {
       overflow-y: scroll;
       height: 20%;

     }
    </style>
  </head>
  <body>
    <div id="otherdiv">

      <div class="alert alert-success" id="success-alert" hidden>

	{% trans %}Voucher deleted successfully.{% endtrans %}
      </div>

      <div class="alert alert-danger" id="improperdate-alert" hidden>

        {% trans %}Please enter date in proper format!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="betweendate-alert" hidden>

        {% trans %}Please enter date within the financial year!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="ua-alert" hidden>


        <strong>{% trans %}Unauthorized to Lock/Unlock Transactions!{% endtrans %}</strong>
      </div>

      <div class="alert alert-danger" id="vno-alert" hidden>
        <a href="#" class="close"  aria-label="close">&times;</a>

        {% trans %}Please enter voucher number!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="vamt-alert" hidden>
        <a href="#" class="close"  aria-label="close">&times;</a>

        {% trans %}Please enter an amount!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="vnar-alert" hidden>
        <a href="#" class="close"  aria-label="close">&times;</a>

        {% trans %}Please enter a narration!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="vdt-alert" hidden>
        <a href="#" class="close"  aria-label="close">&times;</a>

        {% trans %}Please enter a proper date!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="notran-alert" hidden>
        <a href="#" class="close"  aria-label="close">&times;</a>

        <p id="nt">{% trans %}No transactions found{% endtrans %} </p>
      </div>

      <div id="fevoucherhiddenprint" class="panel shadow hidden-print nopadding" >
        <div class="panel-heading">
          <div class="panel-title">{% trans %}Find Voucher{% endtrans %}</div>
        </div>
        <div class="panel-body nopadding" >
          <form id="findvoucher" class="form-horizontal" role="form">

            <label for="searchby" id="sby">{% trans %}Search Voucher B<u>y{% endtrans %}</u> :</label><br/>

            <div class="form-group col-md-3">
              <select class = "form-control" id="searchby"  name = "searchby" accesskey="y">
                <option value="" disabled selected hidden>{% trans %}Select Criteria{% endtrans %}</option>
                <option value="vnum" >{% trans %}Voucher Number{% endtrans %}</option>
                <option value="type" >{% trans %}Type{% endtrans %}</option>
                <option value="amount" >{% trans %}Amount{% endtrans %}</option>
                <option value="date" >{% trans %}Time Interval{% endtrans %}</option>
                <option value="narration" >{% trans %}Narration{% endtrans %}</option>
              </select>
            </div>
            <div class=" col-md-5 col-xs-offset-1 vtp">
              <div class=" col-md-6">
                <select class = "form-control" name="vtype" id="vtype" hidden>
                  <option value="contra" >{% trans %}Contra{% endtrans %}</option>
                  <option value="payment" >{% trans %}Payment{% endtrans %}</option>
                  <option value="receipt" >{% trans %}Receipt{% endtrans %}</option>
                  <option value="journal" >{% trans %}Journal{% endtrans %}</option>
                  <option value="sales" >{% trans %}Sales{% endtrans %}</option>
                  <option value="purchase" >{% trans %}Purchase{% endtrans %}</option>
                  <option value="creditnote" >{% trans %}Credit Note{% endtrans %}</option>
                  <option value="debitnote" >{% trans %}Debit Note{% endtrans %}</option>
                  <option value="salesreturn" >{% trans %}Sale Return{% endtrans %}</option>
                  <option value="purchasereturn" >{% trans %}Purchase Return{% endtrans %}</option>
                </select>
              </div>
            </div>
            <div class=" col-md-5 col-xs-offset-1 vn" hidden>
              <div class=" col-md-6">
                <input type="text" class="form-control" name="vnum" id="vnum" placeholder="Voucher Number">
              </div>
            </div>
            <div class=" col-md-5 col-xs-offset-1 amt" hidden>
              <div class=" col-md-6">
                <input type="text" class="form-control" name="amount" id="amount" placeholder="Amount">
              </div>
            </div>
            <div class=" col-md-5 form-inline vdate col-xs-offset-1" hidden>
              <div class="form-group">

                <input type="text" name="fday" id="fday" value="" class="vcdate form-control" size="2" maxlength="2" placeholder="dd">
                <label>-</label>
                <input type="text" name="fmonth" id="fmonth" value="" class="vcdate form-control" size="2" maxlength="2" placeholder="mm">
                <label>-</label>
                <input type="text" name="fyear" id="fyear" value="" class="vcdate form-control" size="4" maxlength="4" placeholder="yyyy">
                <label>{% trans %}to{% endtrans %}</label>
                <input type="text" name="tday" id="tday"  value="" class="vcdate form-control" size="2" maxlength="2" placeholder="dd">
                <label>-</label>
                <input type="text" name="tmonth" id="tmonth" value="" class="vcdate form-control" size="2" maxlength="2" placeholder="mm">
                <label>-</label>
                <input type="text" name="tyear" id="tyear" value="" class="vcdate form-control" size="4" maxlength="4" placeholder="yyyy">
              </div>
            </div>
            <div class=" col-md-5 col-xs-offset-1 nar" hidden>
              <textarea class="form-control" name="narration" id="narration" rows="2" cols="60" placeholder="Narration"></textarea>
            </div>
            <div class="pull-right col-md-3">
              <button type="submit" class="btn btn-primary" id="submit" name="submit" accesskey="s">{% trans %}<i class="fa fa-search" aria-hidden="true"></i> <u>S</u>earch{% endtrans %}</button>
              <button id="reset" class="btn btn-danger" accesskey="e">{% trans %}<i class="fa fa-refresh" aria-hidden="true"></i> R<u>e</u>set{% endtrans %}</button>
            </div>
            <input id="hideinp" type="text" value="0" hidden >
          </form>
        </div>
      </div><div id="vct" style="background-color:inherit;"  class="vtab panel nopadding ">
      </div>
    </div>
    <div id="printvoucherdiv" hidden>
    </div>
    <input id="vouchernumberinput" type="text" value="0" hidden >
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.autotab.min.js')}}"></script>
      <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/findeditvoucher.js')}}"></script>
</body>

</html>
