<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% trans %}GNUKhata{% endtrans %} | {{projectname}} {% trans %}Statement{% endtrans %}</title>
  <style type="text/css">
  @page {
    size: 29.7cm 21cm ;
    margin: 10mm 10mm 20mm 10mm; /* change the margins as you want them to be. */
  }
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #satable td{
    font-size: 75%;
    padding: 4 !important;
    margin: 4 !important;
  }
  #satable th{
    font-size: 85%;
  }

  .card-view .title {
    font-weight: bold;
    display: inline-block;
    min-width: 30%;
    text-align: left !important;
  }
  .fixed-table tbody{
    display:block;
    height: calc(74vh);
    overflow-y:scroll;
  }
  .fixed-table thead,.fixed-table tbody tr{
    display:table;
    width:100%;
    table-layout:fixed;
  }
  .fixed-table thead{
    width: calc( 99.1% )
  }
  .nopadding{
    padidng:0 !important;
    padding:0 !important;
  }
  </style>
</head>
<body>
  <input type="hidden" id="calculateto" name="calculateto" value="{{to}}"></input>
<div class="row">
  <div class="table-responsive">
    <table id="satable" class="shadow table table-condensed fixed-table cbalsheettable">
      <thead class="bg-primary">
        <tr>
          <th colspan="4" class="text-center col-xs-12" >
            {% trans %}Statement of Sources and Applications of Funds{% endtrans %} </strong>{% trans %}as on{% endtrans %} <strong>{{to[8:10]+to[4:8]+to[0:4]}}</strong></span>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for record in records["leftlist"] %}
        {%if (record["groupAccname"]=="Loss for the Year:" or record["groupAccname"]=="Deficit for the Year:" or record["groupAccname"]=="Surplus for the Year:" or record["groupAccname"]=="Profit for the Year:")%}
          <tr value="{{record["groupAcccode"]}}">
        {%elif record["groupAccflag"] == 2%}
          <tr value="{{record["groupAcccode"]}}" class="subgroupacc g{{record["accountof"]}}" style="display:none;">
        {% elif record["groupAccflag"] == 1  %}
          <tr value="{{record["groupAcccode"]}}" class="groupacc g{{record["accountof"]}}" style="display:none;">
        {%elif record["subgroupof"]!=""%}
          <tr value="g{{record["groupAcccode"]}}" class="groupacc g{{record["subgroupof"]}}" style="display:none;">
        {%else%}
          <tr value="g{{record["groupAcccode"]}}" class="groupname">
        {%endif%}

          <td class="col-xs-9">
            {% if record["groupAccname"]=="Total" or record["groupAccname"]=="Sources:" or record["groupAccname"]=="Difference" %}
            <a class="libgname" href="#" style="text-decoration: none;"><b>{{record["groupAccname"].upper()}}</b></a>
            {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"].upper()}}</a>
            {%elif record["groupAccflag"]==1 %}
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"]}}</a>
            {%elif record["groupAccflag"]==2%}
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"]}}</a>
            {%else%}
            <a href="#" class="libgname">{{record["groupAccname"].upper()}}</a>
            {%endif%}
          </td>

          {%if record["advflag"] == 1%}
            {%if record["groupAccflag"]==2 or record["groupAccflag"]==1%}
            <td class="col-xs-1" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%else%}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
            {%endif%}
          {%else%}
            {%if record["groupAccflag"]==2 or record["groupAccflag"]==1%}
            <td class="col-xs-1" style="text-align:right">{{record["amount"]}}</td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right"><b>{{record["amount"]}}</b></td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%else%}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right"><b>{{record["amount"]}}</b></td>
            {%endif%}
          {%endif%}
        </tr>
        {% endfor %}
        {% for record in records["rightlist"] %}
        {%if (record["groupAccname"]=="Loss for the Year:" or record["groupAccname"]=="Deficit for the Year:" or record["groupAccname"]=="Surplus for the Year:" or record["groupAccname"]=="Profit for the Year:")%}
          <tr value="{{record["groupAcccode"]}}">
        {%elif record["groupAccflag"] == 2%}
          <tr value="{{record["groupAcccode"]}}" class="subgroupacc g{{record["accountof"]}}" style="display:none;">
        {% elif record["groupAccflag"] == 1  %}
          <tr value="{{record["groupAcccode"]}}" class="groupacc g{{record["accountof"]}}" style="display:none;">
        {%elif record["subgroupof"]!=""%}
          <tr value="g{{record["groupAcccode"]}}" class="groupacc g{{record["subgroupof"]}}" style="display:none;">
        {%else%}
          <tr value="g{{record["groupAcccode"]}}" class="groupname">
        {%endif%}

          <td class="col-xs-9">
            {% if record["groupAccname"]=="Total" or record["groupAccname"]=="Difference" or record["groupAccname"]=="Applications:" %}
            <a class="libgname" href="#" style="text-decoration: none;"><b>{{record["groupAccname"].upper()}}</b></a>
            {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"].upper()}}</a>
            {%elif record["groupAccflag"]==1 %}
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"]}}</a>
            {%elif record["groupAccflag"]==2%}
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"]}}</a>
            {%else%}
            <a href="#" class="libgname groupname">{{record["groupAccname"].upper()}}</a>
            {%endif%}
          </td>

          {%if record["advflag"] == 1%}
            {%if record["groupAccflag"]==2 or record["groupAccflag"]==1%}
            <td class="col-xs-1" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="") %}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%else%}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
            {%endif%}
          {%else%}
            {%if record["groupAccflag"]==2 or record["groupAccflag"]==1%}
            <td class="col-xs-1" style="text-align:right">{{record["amount"]}}</td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="") %}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right"><b>{{record["amount"]}}</b></td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            {%else%}
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right">
            </td>
            <td class="col-xs-1" style="text-align:right"><b>{{record["amount"]}}</b></td>
            {%endif%}
          {%endif%}
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <input type="hidden" name="balancesheettype" id="balancesheettype" value="{{balancesheettype}}">
    <input type="hidden" name="cto" id="cto" value="{{to}}">
  </div>
</div>

    <span class="hidden-print" style="margin:auto; display:table;">
      <button class="btn btn-sm btn-danger" type="button" id="saback" accesskey="k">{% trans %}Bac<u>k</u>{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-primary" id="sbgbtn" accesskey="g">{% trans %}Show Sub<u>g</u>roups{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-primary" id="grpbtn" accesskey="w">{% trans %}Sho<u>w</u> Groups{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-primary" id="accbtn" accesskey="a">{% trans %}Show All <u>A</u>ccounts{% endtrans %}</button>
      {% if orgtype=="Profit Making" %}
	<button class="btn btn-sm btn-primary " type="button" id="cbalbutn" hidden="hidden" accesskey="v">{% trans %}Con<u>v</u>entional Balance Sheet{% endtrans %}</button>
      {% else %}
	<button class="btn btn-sm btn-primary " type="button" id="cbalbutn" hidden="hidden" accesskey="l">{% trans %}Conventiona<u>l</u> Statement of Affairs{% endtrans %}</button>
      {% endif %}
       <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x">{% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
       <button class="btn btn-sm btn-danger" type="button"  id="printbalance" accesskey="t">{% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
       <button class="btn btn-sm btn-primary" type="button"  id="realprintbalance" accesskey="t">{% trans %}Prin<u>t</u>{% endtrans %}</button>
    </span>

    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/sourcesandapplicationoffundsreport.js')}}"></script>
</body>
</html>
